body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding-top: 20px; /* Espacio adicional para separar el header */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Asegura que el header esté por encima del contenido */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin-top: 120px; /* Ajuste para separar más del header */
}

.container {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
}

.section img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content {
    width: 70%;
}

.content h1 {
    color: #228B22;
    margin-bottom: 10px;
}

.content p {
    color: #333;
}

/* Estilos para el banner */
.banner {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 1000px;
}

.banner img {
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para los videos */
.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.video-wrapper {
    width: 50%; /* Ajusta el ancho según tu diseño */
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.video-wrapper img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para el modal de video */
.video-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.video-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.video-content iframe {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    display: none; /* Inicialmente oculto */
}
